.detail-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  .side-bar {
    background-color: rgb(241, 242, 246);
    position: fixed;
    left: 10%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
    height: 100%;
    width: 20%;
    a {
      text-decoration: none;
      color: black;
      width: 13rem;
      padding: .5rem;
    }
  }
  .details {
    position: absolute;
    width: 75%;
    right: 0;
    p {
      height: 65vh;
      overflow: hidden;
    }
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 10%;
    width: 75%;
    left: 20%;
    button {
      width: 8rem;
      height: 2.2rem;
      border: none;
      font-size: 1rem;
    }
    .btn-delete {
      background-color: rgb(253, 109, 131);
    }
    .btn-return {
      background-color: rgb(241, 242, 246);
    }
  }
}