.notes-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  .note-cover {
    padding: 1rem;
    &:nth-child(2n+1) {
      .note-link {
        background-color: rgb(241, 166, 134);
      }
    }
    &:nth-child(2n+0) {
      .note-link {
        background-color: rgb(246, 214, 152);
      }
    }
    .note-link {
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      color: white;
      text-decoration: none;
      padding: 0 1rem;
      box-shadow: 1px 2px 1px 1px #00000045;
    }
  }
}