header {
  background-color: rgb(170, 183, 240);
  height: 60px;
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 60px;
  svg {
    color: rgb(48,57,81);
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}